@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Poppins:wght@100;400;500;600;700;800;900&display=swap");
header {
  font-size: 1.6rem;
  font-weight: 500;
  position: fixed;
  padding: 1.8rem 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

header nav {
  width: 90%;
  background-color: transparent;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left .list li a {
  position: relative;
  text-decoration: none;
  color: #c6c9d8;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav .left .list li a::before {
  position: absolute;
  content: '';
  height: 2.5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f9004d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header nav .left .list li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header nav .left .list li a:hover {
  color: #f9004d;
}

header nav .left .list li:not(:last-child) {
  margin-right: 3.5rem;
}

header nav .left .logo {
  margin-right: 5rem;
}

header nav .right .icon-list li:not(:last-child) {
  margin-right: 3.5rem;
}

header nav .right .icon-list li a {
  color: #c6c9d8;
  font-size: 1.6rem;
}

header nav .right .btn {
  margin-left: 5rem;
  padding: 0 25px;
  height: 46px;
  display: inline-block;
  line-height: 42px;
  border: 2px solid #b1b4c1;
  border-radius: 6px;
  color: #c6c9d8;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
}

.scrolling-active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.scrolling-active .nav .left li a {
  color: black;
}

.scrolling-active .nav .right .icon-list li a {
  color: black;
}

.scrolling-active .nav .right .btn {
  border: 2px solid black;
  color: black;
}

.hero {
  width: 100%;
  height: 90vh;
  background-image: url(../img/bg-image-28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero__upper-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hero__center {
  width: 90%;
  padding-top: 5rem;
}

.hero__red {
  color: #f9004d;
  font-size: 75px;
  font-weight: 900;
}

.hero__heading-primary {
  font-size: 75px;
  font-weight: 900;
  color: #fff;
}

.hero__heading-secondary {
  font-size: 54px;
  font-weight: 800;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #c6c9d8;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.about {
  background-color: #2B2A33;
  padding: 10rem 0;
  font-size: 1.6rem;
}

.about__container {
  max-width: 126rem;
  margin: 0 auto;
}

.about__thumbnail {
  padding-right: 2.5rem;
}

.about__inner {
  padding-left: 2.5rem;
}

.about__tittle .tittle {
  font-size: 6rem;
  color: white;
}

.about__tittle .description {
  margin: 2rem 0 2.5rem;
  font-size: 1.8rem;
  color: rgba(198, 201, 216, 0.75);
  font-weight: 400;
}

.about__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__nav .item__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.9rem;
  margin-right: 2.2rem;
  display: inline-block;
  font-weight: 500;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
/*# sourceMappingURL=style.css.map */