.about {
    background-color: #2B2A33;
    padding: 10rem 0;
    font-size: 1.6rem;
    &__container {
        max-width: 126rem;
        margin: 0 auto;
    }
    &__thumbnail {
        padding-right: 2.5rem;
    }
    &__inner {
        padding-left: 2.5rem;
    }
    &__tittle {
        .tittle {
            font-size: 6rem;
            color: white;
        }
        .description {
            margin: 2rem 0 2.5rem;
            font-size: 1.8rem;
            color: rgba(198, 201, 216, 0.75);
            font-weight: 400;
        }
    }
    &__nav {
        display: flex;
        .item {
            &__link {
                text-decoration: none;
                color: #fff;
                font-size: 1.9rem;
                margin-right: 2.2rem;
                display: inline-block;
                font-weight: 500;
            }
        }
    }
}

// this is for the tab 
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}